*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/shared/build
/androidApp/build
/iosApp/build
/ohosApp/build
gradle-8.2-bin.zip
*.zip

# 任务文档
task-*.md
docs/superpowers/